/*==========================================================================*/
/*                     H O V E R    &    P C    O N L Y                     */
/*==========================================================================*/

@media screen and (min-width: 751px) {
    #lightboxOverlay,
    #lightbox {
        min-width: var(--content-width) !important;
        width: 100% !important;
    }

    .sp {
        display: none !important;
    }

    a:hover {
        text-decoration: none;
    }

    .to-top a:hover {
        opacity: 0.7;
    }
    
    /* END screen-min:751px */
}

@media screen and (min-width: 751px) and (max-width: 1880px) {
    .iMainvs__wrap--img1 .img1-wrap {
        left: 0;
        background: url(../images/mainvs-1.jpg) top center no-repeat;
        background-size: cover;
    }
    /* END screen-min:751px && screen-max:1880px */
}

@media screen and (min-width: 751px) and (max-width: 1500px) {

    /* END screen-min:751px && screen-max:1500px */
}